@font-face {
    font-family: "VCR OSD Mono";
    src: url(VCR_OSD_MONO.ttf) format("truetype");
}

.falliciesbutton {
    width: 70vw;
    height: 50vh;
    margin: 0 auto;
}

.pinkellipse {
    background-color: #F88CA0;
    border-radius: 100% / 100%;
    width: 70vw;
    height: 50vh;
    position: absolute;
    left: 15%;
    top: 25%;
    z-index: 2;
    cursor: pointer;
}

h1 {
    position: absolute;
    padding: 13vw 24vw;
    text-align: center;
    font-size: 10vw;
    color: white;
    z-index: 3;
    font-family: 'VCR OSD Mono', sans-serif;
    cursor: pointer;
}

.greenbg {
    background-color: #12B069;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
}

.redbg {
    background-color: #F63A2C;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bluebg {
    background-color: #0052F7;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
}

.yellowbg {
    background-color: #FFB61A;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0;
    bottom: 0;
}