* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Mainpage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: azure;
    overflow: hidden;
}
@keyframes fadein {
	
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#rec1 {
	position: absolute;
	overflow: visible;
	width: 683px;
	height: 384px;
	left: 0px;
	top: 0px;
	
}